* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    padding: 1rem;
    box-shadow: 0px 0px 3px 0px;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    justify-content: space-between;
}

header nav {
    display: flex;
    padding: 1rem;
    align-items: center;
}

header nav a {
    color: black;
    text-decoration: none;
    padding: 2px 1rem 0 1rem;
    display: block;
}

header nav a #gitlab-logo {
    display: block;
    transition: transform 1s;
}

header nav a #gitlab-logo:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}

header nav a span {
    display: block;
    height: 2px;
    width: 0px;
    background-color: red;
    transition: width 1s;
}

header nav a:hover>span {
    width: 100%;
    transition: width 1s;
}

#logo img {
    display: block;
    height: 30px;
}

#burger, #small-logo, #close {
    display: none;
}

@media screen and (max-width:800px){
    #burger, #small-logo {
        display: block;
    }

    #close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
    }

    header nav {
        position: absolute;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        background-color:white;
        display: none;
    }

    header nav a {
        margin:2rem;
        width: min-content;
    }
}

main {
    max-width: 800px;
    margin: 1rem auto;
}

main a {
    color: red;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    padding: 2rem;
}

h2 {
    padding: 1rem;
}

h3 {
    padding: 0.5rem 0;
    text-align: left;
}

p {
    margin:1rem 0;
}

footer {
    background-color: red;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 3px 0px black;
}