<h1>Videos</h1>
<div id="videos">
    <ul>
        <li><a href="/videos/asb-brightsparks-project">ASB BrightSparks Project</a></li>
        <li><a href="/videos/business-challenge-advertisement">Business Challenge Advertisement</a></li>
        <li><a href="/videos/doom-an-ancient-first-person-shooter">Doom an ancient first person shooter</a></li>
        <li><a href="/videos/guess-the-number">Guess The Number</a></li>
        <li><a href="/videos/how-a-computer-works">How a Computer Works</a></li>
        <li><a href="/videos/how-to-make-a-basic-website-ep1">How to make a basic website episode 1</a></li>
        <li><a href="/videos/how-to-make-a-basic-website-ep2">How to make a basic website episode 2</a></li>
        <li><a href="/videos/how-to-make-a-basic-website-ep3">How to make a basic website episode 3</a></li>
        <li><a href="/videos/kwcl.tk-a-free-url-shortener">kwcl.tk a free url shortener</a></li>
        <li><a href="/videos/laptop-from-the-bin">Laptop from the bin</a></li>
        <li><a href="/videos/lego-pull-back-car-stop-motion-4fps">Lego pull back car stop motion 4fps</a></li>
        <li><a href="/videos/my-first-firefox-addon-bitchute-download">My first firefox addon bitchute download</a></li>
        <li><a href="/videos/my-new-server-nanopi-neo">My new server nanopi neo</a></li>
        <li><a href="/videos/noter">Noter</a></li>
        <li><a href="/videos/philippians-1:19-30">Philippians 1:19-30</a></li>
        <li><a href="/videos/pycalc-my-python-calculator">Pycalc - my python calculator</a></li>
        <li><a href="/videos/redstone-computer-part-1">Redstone Computer Part 1</a></li>
        <li><a href="/videos/redstone-computer-part-2">Redstone Computer Part 2</a></li>
        <li><a href="/videos/redstone-computer-part-3">Redstone Computer Part 3</a></li>
        <li><a href="/videos/singular-bit-of-ram">Singular Bit of RAM</a></li>
        <li><a href="/videos/rewardia-hack-part-1">Rewardia Hack Part 1</a></li>
        <li><a href="/videos/rewardia-hack-part-2">Rewardia Hack Part 2</a></li>
        <li><a href="/videos/rewardia-hack-part-3">Rewardia Hack Part 3</a></li>
        <li><a href="/videos/rewardia-hack-part-4">Rewardia Hack Part 4</a></li>
        <li><a href="/videos/rewardia-hack-part-5">Rewardia Hack Part 5</a></li>
        <li><a href="/videos/nzherald-hack">NZ Herald Hack</a></li>
    </ul>
</div>
<video controls autoplay></video>