<h1>Abortion is Murder</h1>
<h2>Before you start reading...</h2>
<p>
    Have a look at <a target="_blank" href="/img/blog/90821-Fetal-Development-Chart_media-01.jpg">this human development
        chart</a> and
    ask yourself at what time and if at all you think its OK to have an abortion.
</p>

<h2>Thesis Statement</h2>
<p>
    Abortion is murder.
</p>
<h2>Definition of Terms</h2>
<ul>
    <li>Abortion: Any of various procedures that result in the termination of a pregnancy. [<a target="_blank"
            href="https://www.thefreedictionary.com/Termination+of+pregnancy">1</a>]</li>
    <li>Murder: The unlawful premeditated killing of one human being by another. [<a target="_blank"
            href="https://www.thefreedictionary.com/murder">2</a>]</li>
</ul>

<h2>Argument</h2>
<ol>
    <li>Human life starts at conception because it has a unique human genetic code. [<a target="_blank"
            href="http://bdfund.org/wp-content/uploads/2016/05/Condic-Sources-Embryology.pdf">3</a>]</li>
    <li>The object in the womb has a unique human genetic code from conception.</li>
    <li>Therefore the object in the womb is a human life from conception.</li>
    <li>A human life is innocent if they have not committed a crime.</li>
    <li>The human life in the womb has not committed a crime.</li>
    <li>Therefore the human life in the womb is innocent.</li>
    <li>Something that was alive and now is dead because of an external force has been killed.</li>
    <li>The innocent human life in the womb was alive and now is dead due to the abortion.</li>
    <li>Therefore the abortion has killed the innocent human life in the womb.</li>
    <li>The abortion is performed by a human life.</li>
    <li>One human life has killed another human life who was innocent.</li>
    <li>Therefore abortion is murder.</li>
</ol>

<h2>Justifications</h2>
<p>
    These always fit in one of four categories, none of which are a valid justification for murder.
<ul>
    <li>Size</li>
    <p>
        No human can be murdered because of their size. <br>
        Eg. If your one year old wasn't the size you expected, that is
        not justification for murder.
    </p>
    <li>Environment</li>
    <p>
        No human can be murdered because of their environment. <br>
        Eg. If your one year old keeps crawling into places you
        don't want them to around the house, that is not justification for murder.
    </p>
    <li>Level of Development</li>
    <p>
        No human can be murdered because of the level of their development. <br>
        Eg. The human brain for example continues to develop well into the 20's [<a target="_blank"
            href="https://acamh.onlinelibrary.wiley.com/doi/full/10.1111/j.1469-7610.2006.01611.x">4</a>]. If you had a
        son/daughter around this age who's brain is still developing, it would not be justification for murder.
    </p>
    <li>Level of Dependence</li>
    <p>
        No human can be murdered because of their level of dependence.<br>
        Eg. A one year old is completely dependent on their parents to stay alive, this would not be justification for
        murder.
    </p>
</ul>
</p>

<h2>Other Objections</h2>
<p>
    99.31% of all abortions are therefore performed for social or economic reasons which leaves 0.69% done for all the
    hard cases combined. [<a target="_blank" href="https://www.hli.org/resources/why-women-abort/">5</a>]
</p>

<h3>Rape</h3>
<p>The human life in the womb should not pay the penalty for the father's crime.</p>

<h3>Incest</h3>
<p>Again, the human life in the womb should not bear the consequence for the mother and father's actions.</p>

<h3>Life of the Mother</h3>
<p>
    From the Dublin Declaration which has been signed by over 1000 medical providers: <br>"<i>As experienced
        practitioners
        and researchers in obstetrics and gynecology, we affirm that direct abortion – the purposeful destruction of the
        unborn child – is not medically necessary to save the life of a woman. We hold that there is a fundamental
        difference between abortion, and necessary medical treatments that are carried out to save the life of the
        mother, even if such treatment results in the loss of life of her unborn child. We confirm that the prohibition
        of abortion does not affect, in any way, the availability of optimal care to pregnant women.</i>" [<a
        target="_blank" href="https://www.dublindeclaration.com/">6</a>].
</p>

<h3>Bad Life</h3>
<p>
    Put simply, a bad life is better than no life.<br>
    Eg. There are currently more than 2 billion disabled people in the world, that is 37.5% of the world’s population
    [<a target="_blank"
        href="https://www.inclusivecitymaker.com/disabled-people-in-the-world-in-2019-facts-and-figures/">7</a>], why
    not do these people a favour and kill them? Probably they would take issue with this, they would
    say in most cases, they don't want to die. In the case of the human life in the womb, you can't even ask them. They
    should have that choice.
</p>

<h2>References</h2>
<ol>
    <li>Definition of Abortion as taken from <a target="_blank"
            href="https://www.thefreedictionary.com/Termination+of+pregnancy">https://www.thefreedictionary.com/Termination+of+pregnancy</a>
    </li>
    <li>Definition of Murder as taken from <a target="_blank"
            href="https://www.thefreedictionary.com/murder">https://www.thefreedictionary.com/murder</a></li>
    <li>See, e.g., Condic, When Does Human Life Begin? A Scientific Perspective (The Westchester Institute for
        Ethics & the Human Person Oct. 2008),
        <a target="_blank"
            href="http://bdfund.org/wp-content/uploads/2016/05/Condic-Sources-Embryology.pdf">http://bdfund.org/wp-content/uploads/2016/05/Condic-Sources-Embryology.pdf</a>;
        George &
        Tollefsen, EMBRYO
        39 (2008).</li>
    <li>Recent MRI studies indicate that the time at which the brain reaches maturity may be much later than the end of
        adolescence. One such study of participants aged between 7 and 30 revealed that the loss of grey matter in the
        frontal cortex accelerated during adulthood between the early 20s and up to the age of 30. <a target="_blank"
            href="https://acamh.onlinelibrary.wiley.com/doi/full/10.1111/j.1469-7610.2006.01611.x">https://acamh.onlinelibrary.wiley.com/doi/full/10.1111/j.1469-7610.2006.01611.x</a>
    </li>
    <li>
        99.31% of all abortions are therefore performed for social or economic reasons which leaves 0.69% done for all
        the hard cases combined. <a target="_blank"
            href="https://www.hli.org/resources/why-women-abort/">https://www.hli.org/resources/why-women-abort/</a>
    </li>
    <li>
        From the Dublin Declaration which has been signed by over 1000 medical providers: "<i>As experienced
            practitioners
            and researchers in obstetrics and gynecology, we affirm that direct abortion – the purposeful destruction of
            the
            unborn child – is not medically necessary to save the life of a woman. We hold that there is a fundamental
            difference between abortion, and necessary medical treatments that are carried out to save the life of the
            mother, even if such treatment results in the loss of life of her unborn child. We confirm that the
            prohibition
            of abortion does not affect, in any way, the availability of optimal care to pregnant women.</i>" <a
            target="_blank" href="https://www.dublindeclaration.com/">https://www.dublindeclaration.com/</a>.
    </li>
    <li>
        There are currently more than 2 billion disabled people in the world, that is 37.5% of the world’s population.
        <a target="_blank"
            href="https://www.inclusivecitymaker.com/disabled-people-in-the-world-in-2019-facts-and-figures/">https://www.inclusivecitymaker.com/disabled-people-in-the-world-in-2019-facts-and-figures/</a>
    </li>
</ol>