<h1>Best Savings Bank Accounts NZ</h1>
<p>
    On this page you will be able to search and sort through the highest interest paying savings bank accounts available
    in New Zealand right now. I will try my best to keep this up to date but if anything does become out of date and I
    haven't updated the list yet, you can email me at <a
        href="mailto:liam@thekiwiclick.co.nz">liam@thekiwiclick.co.nz</a> with the update.
</p>
<h2>Top 4 Video</h2>
<p>
    In this video I countdown the top four accounts from this list in an easy to understand format.
</p>
<iframe width="560" style="display:block;margin: auto; margin-bottom: 1rem; max-width: 100%;" height="315"
    src="https://www.youtube-nocookie.com/embed/WPJ4yABJWC0" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<template id="row">
    <div class="row">
        <img src="" alt="">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</template>
<div id="headings" class="row">
    <p>Institution</p>
    <p>Account Name</p>
    <p id="base">Base Rate</p>
    <p id="bonus">Bonus Rate</p>
    <p>Notes</p>
</div>
<section id="table">

</section>