<h1>Blog</h1>
<h2>Best Savings Bank Accounts NZ - October 2021</h2>
<p>
    This is a very comprehensive list of all the savings bank accounts in new zealand with a handy sort feature. Check
    it out here: <a href="/blog/best-savings-bank-accounts-nz">Read Best Savings Bank Accounts NZ</a>
</p>
<h2>Investing Plan - September 2021</h2>
<p>
    This post is a list of 7 rules I have come up with to guide my month-to-month spending, investing and saving. Check
    it out here: <a href="/blog/investing-plan">Read Investing Plan</a>
</p>
<h2>Rule #1 Investing - August 2021</h2>
<p>
    This my summary of Phil Town's book "Rule #1" which is the best stock market investing book I have read to date. I
    go over all the main points and how to know which businesses to invest in to achieve 15% per year or better. Don't
    believe me? Check it out here: <a href="/blog/rule-one-investing">Read Rule #1 Investing</a>
</p>
<h2>NZ Investing Platforms Compared</h2>
<p>
    This article goes through in detail all the major investing platforms in New Zealand and I attempt to find out which
    one is best in most scenarios: <a href="/blog/nz-investing">Read NZ Investing Platforms Compared</a>
</p>
<h2>NZ Herald Hack - September 2020</h2>
<p>
    This is a hack I made which allows you to bypass the "Premium" subscription on the <a href="https://nzherald.co.nz"
        target="_blank">nzherald.co.nz</a> website.
    <a href="/blog/nzherald-hack">Read NZ Herald Hack</a>
</p>
<h2>Rewardia Hack - September 2020</h2>
<p>
    This is a hack I made for the rewardia.co.nz website which is able to automatically play games to earn points which
    can be converted to real money.
    <a href="/blog/rewardia-hack">Read Rewardia Hack</a>
</p>
<h2>Abortion is Murder - July 2020</h2>
<p>
    This is a formal argument against abortion which also answers many objections supported by solid references.
    <a href="/blog/abortion-is-murder">Read Abortion is Murder</a>
</p>