<h1>Investing Plan</h1>
<p>
    The following is a list of 7 rules I have come up with to guide my month-to-month spending, investing and saving.
    Hopefully by sticking to this I will be able to grow my net worth consistently every month whilst still having
    enough money for daily spending and big one off purchases (so that they don't have to feel impulsive). Feel free to
    take from this what you want as inspiration for your own plan as everyone's situation is unique.
</p>
<h2>The 7 rules are as follows:</h2>
<ol>
    <li>
        Have an <b>emergency fund of at least $1000</b> and increase this in accordance with what my average monthly
        expenses are for the current year multiplied by six (arriving at an emergency fund representing 6 months of
        expenses). Notice that this requires detailed knowledge of how much you are spending each month on a rolling
        basis (I hear a budget spreadsheet calling...).
    </li>
    <hr>
    <li>
        Maintain a $5000 cash position in my main transactional bank account and <b>only do daily spending out of income
            above this amount</b> from a regular job. This is essentially the fixed income part of my portfolio as my
        Heartland YouChoose account pays a similar interest to bonds and term deposits but with full liquidity.
        Therefore the rest of my portfolio is in stocks which provide a superior rate of return over the very long term.
    </li>
    <hr>
    <li>
        At the end of each month, <b>plough any excess into investments</b> above the amount needed for regular expenses
        until the next payday, either my single InvestNow index fund (Vanguard unhedged) or an individual stock that I
        have researched and estimate as trading significantly below intrinsic value.
    </li>
    <hr>
    <li>
        For big, one-off purchases like a car or appliance, <b>use the $5000 cash position as a starting point for
            saving up to pay in cash </b> (pausing any excess investments as part of #3). After this the $5000 cash
        position is replenished at which point excess investments are resumed (#3).<br><br>

        This is to eliminate the need to sell investments (which disrupts the compounding process) and the need for
        financing which could have extra fees involved (interest, establishment fees etc).<br><br>

        Another advantage to this is that for example, a TV bought 6 months after the idea is conceived is
        likely to now be cheaper since it is not as new. You also now have six months to research your options and
        decide whether you really need a new TV...
    </li>
    <hr>
    <li>
        Every month no matter what, have a regular investment into my InvestNow index fund which is a fixed amount out
        of every paycheck (<b>A.K.A paying yourself first</b>).
    </li>
    <hr>
    <li>
        Contribute the minimum of 3% at least to KiwiSaver to get the employer match (100% guaranteed rate of return on
        your contribution) and top up contributions to $1042.86 per tax year to get the full government contribution of
        $521.43 (50% guaranteed rate of return on your contribution).<br><br>

        <b>These two investments are the best guaranteed returns you will ever get</b> not even considering the capital
        appreciation of the invested funds. Do not contribute a cent more than this due to KiwiSaver having no liquidity
        since you can only withdraw in very specific circumstances. This is why any other investments are done outside
        of KiwiSaver to allow full control of what I do with the capital.<br><br>
        For example, extra money can be invested into the exact same or cheaper index fund to get the same returns but
        with full liquidity and control.
    </li>
    <hr>
    <li>
        When buying my first house use my full KiwiSaver balance as part of the deposit to be able to get the
        money out before retirement and then continue with regular KiwiSaver contributions (see #6).
    </li>
</ol>