<h1>NZ Investing Platforms Compared</h1>
<p>I wanted to once and for all figure out what the cheapest investing platform is in New Zealand so I decided to
    compare Sharesies, InvestNow, Hatch, Stake, ASB Securites and Jarden Direct. You will soon see that it is not as
    easy to compare them to each other since they all offer slightly different services and the type of investing you do
    determines which platform will be the best option for you.</p>
<a href="#calculator">Skip to the fees calculator</a><br>
<a href="#conclusions">Skip to the platform choosing guide</a>
<iframe width="560" height="315" style="margin: auto; display: block; max-width: 100%;"
    src="https://www.youtube-nocookie.com/embed/D3qpkUiPTmg" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<h2>Sharesies</h2>
<img src="/img/blog/nz-investing/sharesies-logo.png" alt="Sharesies Logo">
<a target="_blank" rel="noopener" href="https://www.sharesies.nz/pricing">Sharesies Pricing</a>
<ul>
    <li>Products: NZ, AU and US Stocks, Managed Funds and ETFs.</li>
    <li>Subscription fees: None
    </li>
    <li>Transaction fees: 0.5% on all trades for the part of the order under $3000 and
        then 0.1% for the part of the order above $3000.
    </li>
    <li>Exchange Fees: 0.4% both ways (between NZD, AUD and USD)</li>
</ul>
<h2>InvestNow</h2>
<img src="/img/blog/nz-investing/investnow-logo.png" alt="InvestNow Logo">
<p>
    If you scroll down on the FAQs you will see a question regarding InvestNow's fees: <a target="_blank" rel="noopener"
        href="https://investnow.co.nz/resources/faqs-help/">InvestNow Fees</a>
</p>
<ul>
    <li>Products: NZ Managed Funds and ETFs</li>
    <li>Subscription Fees: None</li>
    <li>Transaction Fees: None</li>
    <li>Exchange Fees: Only offers products in NZD</li>
</ul>
<h2>Hatch</h2>
<img src="/img/blog/nz-investing/hatchinvest-logo.jpg" alt="HatchInvest Logo">
<p>
    <a href="https://www.hatchinvest.nz/pricing" target="_blank" rel="noopener">Hatch Pricing</a>
</p>
<ul>
    <li>Products: US Stocks and ETFs</li>
    <li>Subscription fees: $1.50 USD one-off and then $0.50/year for US tax filling.</li>
    <li>Transaction Fees: $3 USD flat fee per transaction for the first 300 shares and then $0.01 USD per share after
        that</li>
    <li>Exchange Fees: 0.5% both ways (from NZD to USD and from USD to NZD)</li>
</ul>
<h2>Stake</h2>
<img src="/img/blog/nz-investing/stake-logo.png" alt="Stake">
<p>
    <a href="https://hellostake.com/nz/pricing/" target="_blank" rel="noopener">Stake Pricing</a>
</p>
<ul>
    <li>Products: US Stocks, Managed Funds and ETFs</li>
    <li>Subscription fees: $5 one-off for US tax filling. SEC Fee: $0.221 per US$10,000 of sale proceeds. TAF Fee:
        $0.000119 per share with a per-transaction cap of $5.95</li>
    <li>Transaction Fees: None</li>
    <li>Exchange Fees: 1% both ways (from NZD to USD and from USD to NZD with a minimum of $2 USD) and $2 USD additional
        withdrawal fee with a minimum withdrawal amount of $10</li>
</ul>

<h2>Interactive Brokers</h2>
<img src="/img/blog/nz-investing/interactive-brokers-logo.jpg" alt="Interactive Brokers">
<p>
    <a href="https://www.interactivebrokers.com.au/en/index.php?f=39753&p=stocks2" target="_blank"
        rel="noopener">Interactive Brokers Pricing</a>
    and <a href="https://www.interactivebrokers.com.au/en/index.php?f=1590&p=fx" target="_blank" rel="noopener">FX
        fees</a>
</p>
<ul>
    <li>Products: Most country Stocks, Managed Funds and ETFs</li>
    <li>Subscription fees: None</li>
    <li>Transaction Fees: (Tiered pricing)
        <ul>
            <li>US Stocks: USD 0.0035 per share (min USD $0.35 and max 1%)</li>
            <li>AU Stocks: 0.08% (min AUD $5)</li>
        </ul>
    <li>Exchange Fees: 0.002% (min USD $2)</li>
</ul>

<h2>ASB Securities</h2>
<img src="/img/blog/nz-investing/asb-securities-logo.png" alt="ASB Securities">
<p>
    <a href="https://www.asb.co.nz/asb-securities/rates-and-fees.html" target="_blank" rel="noopener">ASB Securities
        Fees</a><br>
    <a href="https://www.asb.co.nz/documents/banking-with-asb/guide-to-fees.html" target="_blank" rel="noopener">ASB
        Securities Exchange Fees</a>
    (scroll to bottom)
</p>
<ul>
    <li>Products: NZ and AU Stocks, Managed Funds and ETFs</li>
    <li>Subscription fees: None</li>
    <li>Transaction Fees:
        <ul>
            <li>$15 per transaction up to $1000</li>
            <li>$30 per transaction from above $1000 up to $10,000</li>
            <li>0.3% above $10,000 (for NZ trades)</li>
            <li>0.3% per transaction for Australian trades (minimum of $30 AUD)</li>
        </ul>
    </li>
    <li>Exchange Fees: Minimum charge: $10 and Maximum charge: 1% both ways for any currency</li>
</ul>

<h2>Jarden Direct</h2>
<img src="/img/blog/nz-investing/jarden-diect-logo.png" alt="Jarden Direct Logo">
<p>
    <a href="https://www.jardendirect.co.nz/pricing" target="_blank" rel="noopener">Jarden Direct Pricing</a>
</p>
<ul>
    <li>Products: NZ and AU Stocks, Managed Funds and ETFs</li>
    <li>Subscription fees: None</li>
    <li>Transaction Fees:
        <ul>
            <li>$29.90 NZD flat fee + 0.2% for the portion above $15,000 for NZ Trades</li>
            <li>$29.00 AUD flat fee + 0.3% for the portion over $30,000 for AU trades</li>
        </ul>
    </li>
    <li>Exchange Fees: Up to 1.50% both ways</li>
</ul>
<h2 id="calculator">Fees Calculator</h2>
<p>
    This will calculate the total amount of fees paid over the lifetime of the investment. This includes FX fees,
    withdrawal fees and brokerage fees for each trade (in an out). For each country, the currency is assumed to be in
    that country's currency (exchanged at the current market rate) before applying the FX fee. For example X NZD becomes
    Y USD
    at the current exchange rate and then the % FX fee is deducted from Y.
</p>
<label>Country:</label>
<select id="country">
    <option value="NZ">NZ</option>
    <option value="AU">AU</option>
    <option value="US">US</option>
</select>
<br>
<div id="numShares">
    <label>No. Shares: (For Hatch pricing when > 300 shares)</label>
    <input type="number" step="1" value="1" min="1">
</div>
<div id="numTransactions">
    <label>No. Transactions: (Reduces exchange fees per transaction)</label>
    <input type="number" step="1" value="1" min="1">
</div>
<div id="isETF">
    <label>Is ETF? (InvestNow only offers fee-free ETFs)</label>
    <input type="checkbox">
</div>
<label>Transaction Amount</label>
<input type="number" step="0.01" id="amount">
<button id="go">Go</button>
<p id="cost"></p>
<h2 id="conclusions">Conclusions</h2>
<p>
    So after all that if you want a simple guide on which platform to choose for your investing scenario, have a look at
    my recommendations below:
</p>
<h3>For NZ Investing:</h3>
<ul>
    <li>NZ ETFs: InvestNow</li>
    <li>NZ Stocks: Sharesies</li>
</ul>
<h3>For AU Investing:</h3>
<ul>
    <li>Transaction amounts &lt; $800 use Sharesies to start</li>
    <li>In all other cases and once you are comfortable trading stocks: Interactive Brokers</li>
</ul>
<h3>For US Investing:</h3>
<ul>
    <li>Transaction amounts &lt; $250 use Sharesies to start</li>
    <li>In all other cases and once you are comfortable trading stocks: Interactive Brokers</li>
</ul>
<h2>My referral codes</h2>
<p>
    If you have successfully used my guide to choose the right investing platform for you and you want to support me in
    some way, feel free to use my referral codes below:
</p>
<ul>
    <li>Sharesies: <a target="_blank" rel="noopener"
            href="https://sharesies.nz/r/PPR7D3">https://sharesies.nz/r/PPR7D3</a>
        (we both get $5)</li>
    <li>Stake: <a target="_blank" rel="noopener"
            href="https://hellostake.com/referral-program?referrer=liaml539">https://hellostake.com/referral-program?referrer=liaml539</a>
        (we both get a free stock)
    </li>
    <li>Hatch: <a href="https://app.hatchinvest.nz/share/xsexnpbk" target="_blank"
            rel="noopener">https://app.hatchinvest.nz/share/xsexnpbk</a> (we both get a $10 NZD top up when you deposit
        your first $100).
    </li>
</ul>