<h1>NZ Herald Hack</h1>
<p>
    This is a hack I made which allows you to bypass the "Premium" subscription on the <a href="https://nzherald.co.nz"
        target="_blank">nzherald.co.nz</a> website.
</p>
<p>
    This all started when I was looking through the NZHerald website one afternoon and I wanted to read an article but
    it turns out it was a "Premium" article which requires a subscription costing $5 a month.
</p>
<img src="/img/blog/nzherald-premium.webp" alt="A picture of the popup on premium articles on the NZ Herald">
<p>
    I then thought "Oh well, I guess I'll read something else..." until I had another thought, maybe this website was
    just as vulnerable as the <a href="/blog/rewardia-hack" target="_blank">Rewardia website that I had hacked
        recently</a>. I noticed
    that a small section of the article was visible but just blurred which lead me to wonder whether the rest of the
    article had actually downloaded but was simply being hidden... Turns out, I was right. Upon inspecting the page
    using the firefox developer tools, I found the rest of the article was hidden in plain sight, easily accessible if
    the page was viewed with any other method (viewing in notepad).
</p>
<img src="/img/blog/nzherald-inspect.webp"
    alt="Doing an inspect element on the NZ Herald website reveals that the rest of the article is hidden in plain sight.">
<p>
    The next immediate thought was to write a little script to un-hide these elements, I thought "this will be easy, I
    just have to un hide the elements using a couple lines of javascript and I'll be off.". This unfortunately was not
    the case, no sir-ey the developers at NZ Herald are being payed after all... They did have a special system setup to
    detect whenever one of these elements had become visible for any reason, at which point you would be redirected to
    their subscription registration page!!!
</p>
<img src="/img/blog/nzherald-subscribe.webp"
    alt="The subscription page I was redirected to after trying to make one of the hidden elements visible on NZ Herald">
<p>
    At this point I was a little stumped and it took me a while to inspect some of their code to find out how to
    bypass it... After quite a lot of playing around I found a solution that worked! It turns out what I had to do was
    make a copy of the entire article using javascript and simply append it onto the bottom of the page (any attempt of
    deleting the content resulted in redirecting to the subscription page so I couldn't clear the hidden article). This
    allowed me to read any premium article I wanted. I then just needed to package it all up into a nice convenient
    browser extension and I was done. A seamless hack that can be installed on any browser which allows anyone to read
    any NZ Herald Premium article!
</p>
<img src="/img/blog/nzherald-article-revealed.webp" alt="NZ Herald premium article revealed using the hack.">
<p class="caption">
    As you can see from the picture, below the ad to buy premium is the actual article displayed...
</p>
<p>
    Of course I cannot publish this hack nor can I use it myself for anything other than for testing purposes so I did
    contact NZ Herald about it and <a href="/blog/rewardia-hack">like the last time with rewardia</a> I have still not
    heard anything back but I will update this article as soon as I hear anything.
</p>
<p>I also made a video demonstrating the functionality of the hack: <a href="/videos/nzherald-hack">NZ Herald Hack
        Video</a></p>
<p><b>UPDATE</b> (15/09/2020): I have sent another email to NZ Herald through a different email address which you can
    see here:</p>
<img src="/img/blog/nzherald-second-email.webp" alt="NZ Herald second email">
<p>
    Let's hope they actually respond...
</p>