<h1>Rewardia Hack</h1>
<p>
    This is a hack I made for the <a href="https://rewardia.co.nz" target="_blank">rewardia.co.nz</a> website which is
    able to
    automatically play games to earn points which can be converted to real money.
</p>
<p>
    It all started when I did something I very rarely do... I clicked on a google ad. Not only did I click on a google
    ad, I clicked on one of those suspicious survey websites, promising to offer me $500 a month in surveys... This
    happened while I was searching for jobs online and of course the site didn't live up to it's expectations, however
    it did lead me down this rabbit trail....
</p>
<p>
    I started off very innocently, signing up and doing some surveys, I was doing well for the first hour or so and I
    was
    almost at $5 worth of points (each 1000 points is worth $1) but then, all my surveys ran out. I had a look through
    the rest of website and discovered that you can earn more points by simply playing games! Unfortunately, like
    expected, they were a complete waste of time because at best each game, which lasted about a minute, would yield a
    few measly points. This was very discouraging and I was about to delete my account when I had a thought: "Would it
    be possible to make a bot to play the games for me?", "After all", I thought, "most of these games just require
    clicking through buttons like a poll and there were no wrong answers!".
</p>
<img src="/img/blog/rewardia-tabs-1.webp" alt="My Rewardia Hack running 8 firefox tabs">
<p>
    So, I got to work making a browser extension that would play the no-wrong-answer games for me. It was working
    incredibly until I found out that after a few games there would be a video ad that showed up, so I made the page
    reload every time it got stuck for too long. I let it keep running but eventually I found the biggest challenge yet:
    the prize code which you must enter every 100 games or so. I assumed this was for anti-bots and I was right, the
    prize code they displayed was an image rather than a simple text element on the page which meant I would have to use
    an OCR (optical character recognition API) to crack the code so that I could enter it into the box using the bot. At
    first I used a free online one but it had too many restrictions so in the end I had to download and run a programme
    called tesseract made by HP in the 1980's which was perfect for my application, I threw it on my server, applied an
    accessible API to it and we were off, I had made a no interruptions, non-stop money making bot!
</p>
<img src="/img/blog/rewardia-tabs-2.webp" alt="My Rewardia Hack running 12 chrome tabs">
<p>
    I ran this for a few hours at a time until one afternoon I decided to run a few tabs overnight, then the whole of
    the next day, then the next and so it went on. My accumulated points were quite substantial at this point so I
    needed a way to keep track of the total points across all my accounts, I made another api and threw that on my
    server with a front end displaying the individual earnings of each account and the total amount earned.
</p>
<img src="/img/blog/rewardia-tabs-3.webp" alt="My Rewardia Hack running 12 chrome tabs bypassing prize code">
<p>
    I let it run like this for another full day or so and eventually with all my accounts combined and the 10% daily
    earnings bonus from every refereed account, I had made almost $400. Knowing I could never withdraw this money into
    my bank account because it was completely fraudulent money, I contacted the company about the problem and closed my
    operation. I am yet to hear back from them but I will be sure to update this article when they do.
</p>
<img src="/img/blog/rewardia-tabs-4.webp" alt="My Rewardia Hack running 25 chrome tabs final iteration">
<p>
    Just as a closing comment, I was looking around their website again one day and saw that they were advertising an
    address for their business which was in Sydney Australia so, as any normal person would, I put the address in google
    maps and went to street view and I was shocked at what appeared... I won't have the name of this business in writing
    but feel free to check out the screenshot below:
</p>
<img src="/img/blog/rewardia-address.webp" alt="Rewardia's Sydney Australia address, quite funny actually...">
<p>
    <b>UPDATE</b> (15/9/2020): They have emailed me back and I was very disappointed with their response:
    <img src="/img/blog/rewardia-email.webp" alt="Rewardia's Reply Email">
    They still have not responded to my latest email but again, I will update this article when they do.
</p>
<p>
    I also videoed the whole process so you can watch the all the videos below:
<ol>
    <li><a href="/videos/rewardia-hack-part-1" target="_blank">Rewardia Hack Part 1</a></li>
    <li><a href="/videos/rewardia-hack-part-2" target="_blank">Rewardia Hack Part 2</a></li>
    <li><a href="/videos/rewardia-hack-part-3" target="_blank">Rewardia Hack Part 3</a></li>
    <li><a href="/videos/rewardia-hack-part-4" target="_blank">Rewardia Hack Part 4</a></li>
    <li><a href="/videos/rewardia-hack-part-5" target="_blank">Rewardia Hack Part 5</a></li>
</ol>
</p>