<h1>Liam Labuschagne</h1>
<img id="profile-picture" src="/img/index/me.webp" alt="Liam Labuschagne">
<h2>About this website</h2>
<p>
    Hi, my name is Liam Labuschagne and this is my personal website where I share my passion for technology, philosophy
    and apologetics with the world. Feel free to check out my <a href="/blog">blog</a>, <a href="/games">HTML5 web
        games</a> and <a href="/apps">mobile/desktop apps</a>
</p>