main {
    max-width: unset;
    padding: 1rem;
    max-width: 800px;
}

main p, ol, ul {
    display: block;
    margin: 1rem auto;
}

main ol, ul {
    list-style-position: inside;
}

main li {
    margin: 1rem auto;
}

main img {
    max-width: 800px;
    display: block;
    margin: auto;
}

@media only screen and (max-width:800px) {
    main img {
        width: 100%;
        display: block;
        margin: auto;
    }
}

.caption {
    color: grey;
}

#banner {
    max-width: unset;
}