main {
    max-width: unset;
}

p {
    max-width: 800px;
}

#headings {
    background: red;
    color: white;
}

#base,#bonus{
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1200px;
    margin:auto;
    padding: 1rem;
    align-items: center;
}

.row:nth-child(2n){
    background: lightgrey;
}

.row img {
    display: block;
    width: 50%;
    margin:auto;
}