.table-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.table {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #f4f4f4;
    margin-right:1rem;
    margin-bottom: 1rem;
}

.table h4 {
    grid-column: 1/3;
    text-align: center;
    background: red;
    color: white;
}

.table p, .table h4 {
    width: 100%;
    padding: 0.5rem;
}

.table .heading {
    font-weight: bold;
}

#numShares {
    display: none;
}