<h1>Apps</h1>
<p>
    Here you can download all my mobile and desktop apps.
</p>
<div id="apps">
    <div class="app">
        <h2>Noter</h2>
        <p>This is a privacy respecting, note taking app for android devices.</p>
        <img src="/img/apps/noter.webp" alt="Noter App">
        <a href="/html/apps/noter.apk" download>Download noter.apk</a>
    </div>
    <div class="app">
        <h2>Three Doors</h2>
        <p>A game based off an american game show for android devices.</p>
        <img src="/img/apps/three-doors.webp" alt="Three Doors App">
        <a href="/html/apps/three-doors.apk" download>Download three-doors.apk</a>
    </div>
    <div class="app">
        <h2>Surveyors Toolbox</h2>
        <p>An app for surveyors to calculate distances using pythagoras, circle areas etc. on android devices.</p>
        <img src="/img/apps/surveyors-toolbox.webp" alt="Surveyors Toolbox App">
        <a href="/html/apps/surveyors-toolbox.apk" download>Download surveyors-toolbox.apk</a>
    </div>
    <div class="app">
        <h2>Three Doors (Windows)</h2>
        <p>A game based off an american game show for windows.</p>
        <img src="/img/apps/three-doors-win.webp" alt="Three Doors App">
        <a href="/html/apps/doors.zip" download>Download doors.zip</a>
    </div>
    <div class="app">
        <h2>Generate Random Number (Windows)</h2>
        <p>Generate random numbers in a specified range for windows.</p>
        <img src="/img/apps/grn.webp" alt="Generate Random Number App">
        <a href="/html/apps/grn.zip" download>Download grn.zip</a>
    </div>
    <div class="app">
        <h2>Tick Tack Toe (Windows)</h2>
        <p>A command-line version of tick tack toe played between two real players for windows.</p>
        <img src="/img/apps/ttt.webp" alt="Tick Tack Toe App">
        <a href="/html/apps/ttt.zip" download>Download ttt.zip</a>
    </div>
</div>