<h1>Games</h1>
<p>
    This is a list of all the HTML5 games I have made. You can play them right in your browser!
</p>
<div id="games">
    <div class="game">
        <a href="/html/games/2048/">
            <h2>2048</h2>
            <img src="/img/games/2048.webp" alt="2048 Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/bnb/">
            <h2>Box 'n' Blocks</h2>
            <img src="/img/games/bnb.webp" alt="Box 'n' Blocks Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/GD/">
            <h2>Galaxy Duel</h2>
            <img src="/img/games/GD.webp" alt="Galaxy Duel Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/num/">
            <h2>Guess The Number</h2>
            <img src="/img/games/num.webp" alt="Guess The Number Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/mat/">
            <h2>Math Quiz</h2>
            <img src="/img/games/mat.webp" alt="Math Quiz Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/paint/">
            <h2>Paint</h2>
            <img src="/img/games/paint.webp" alt="Paint Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/pi/">
            <h2>Calculate PI</h2>
            <img src="/img/games/pi.webp" alt="Calculate PI Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/pong/">
            <h2>Pong</h2>
            <img src="/img/games/pong.webp" alt="Pong Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/pong2p/">
            <h2>2 Player Pong</h2>
            <img src="/img/games/pong.webp" alt="2 Player Pong Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/pop/">
            <h2>Popup Pirate</h2>
            <img src="/img/games/pop.webp" alt="Popup Pirate Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/toh/">
            <h2>Tower of Hanoi</h2>
            <img src="/img/games/toh.webp" alt="Tower of Hanoi Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/tpt/">
            <h2>Typing Test</h2>
            <img src="/img/games/tpt.webp" alt="Typing Test Game">
        </a>
    </div>
    <div class="game">
        <a href="/html/games/yahtzee/">
            <h2>Yahtzee</h2>
            <img src="/img/games/yahtzee.webp" alt="Yahtzee Game">
        </a>
    </div>
</div>