main {
    max-width: 1200px;
}

#games {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width:800px){
    #games {
        display: block;
        max-width: 400px;
        margin:auto;
    }
}

.game {
    box-shadow: 0px 0px 3px 0px;
    margin: 1rem;
    padding: 1rem;
}

.game a {
    text-decoration: none;
    color: initial;
}

.game img {
    display: block;
    width: 100%;
}