* {
	font-family: "Verdana";
}

canvas {
	border: 1px solid black;
	background-color: black;
}

.points-table {
	position: relative;
	float: right;
	padding: 20px;
	border: 1px solid black;
	width: 40%;
	max-width: 250px;
	text-align: center;
}

.game-area {
	position: relative;
	float: left;
	padding: 20px;
	border: 1px solid black;
	width:40%;
	max-width: 310px;
}

#roll-btn {
	width: 300px;
	background: black;
	color:white;
	text-align: center;
	font-size: 20px;
	border: none;
}

#roll-btn:hover {
	cursor: pointer;
}

#select-btns *{
	width:56px;
	font-size: 10px;
	margin: 0;
}

#end-screen {
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
}