main {
    max-width: 1200px;
}

#apps {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media screen and (max-width:800px){
    #apps {
        display: block;
        max-width: 400px;
        margin:auto;
    }
}

.app {
    box-shadow: 0px 0px 3px 0px;
    margin: 1rem;
    padding: 1rem;
}

.app img {
    display:block;
    width: 100%;
}